[Unit]
Description=Lucene Indexing Service for ILIAS

[Service]
User=www-data
ExecStart=/usr/local/sbin/ilias-lucene start
ExecStop=/usr/local/sbin/ilias-lucene stop
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target